@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.ttf");
}
@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Grechen";
    src: url("../fonts/GrechenFuemen-Regular.ttf");
}
.fonts_poppins {
    font-family: "Poppins";
}
.fonts_poppins_medium {
    font-family: "Poppins-medium";
}
.fonts_grechen {
    font-family: "Grechen";
}
a{
    text-decoration: none;
}
body {
    margin:0;
    padding:0;
    position: static;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 46px;
    border-bottom: 4px solid rgb(6, 43, 65);
}
header .logo_principal {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: red;
}
header nav {
    /*border: 2px solid red;*/
}
header nav ul {
    list-style: none;   
   /* border: 2px solid black;*/
}
header nav ul li {
    display: inline;
    margin-left: 20px;
    
}
header nav ul .home_logo a {
    /*border: 2px solid ;*/
    background-color: rgb(15, 146, 221);
    padding: 26px 10px;
    color: #fff;
}
header nav ul .home_logo i {
    /*background-color: rgb(15, 146, 221);*/
    /*color: #fff;*/
   /* padding: 6px 3px;*/
   font-size: 30px;
}
header nav ul .home_logo a:hover {
    color: rgb(15, 146, 221);
    background-color:#fff;
    padding: 0 10px;
}

header nav ul .nav_element {
    /*padding: 26px 3px;*/
}
header nav ul .nav_element a {
    color: black;
    padding: 26px 3px;
    border-radius: 10px; 
}
header nav ul:hover .nav_element a:hover {
    background-color: rgb(15, 146, 221);
    color: #fff;
    
}

/**************************************************************************************/

.logo_bottom{
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 35px;
    /*z-index: 2;*/
    position:fixed;
    /*padding: 15px;*/
}
.logo_bottom div {
    display: inline;
    margin-right: 20px;
    /*color: rgb(15, 146, 221);*/
    
    
}
.logo_bottom div i {
    color: black;
    padding: 4px 6px;
    border-radius: 5px;
    opacity: 0.75;
     
}
.logo_bottom div i:hover  {
    background-color: #fff;
    color: rgb(15, 146, 221);
    
}

/**************************************************************************************************/
.home {
    text-align: center;
    padding: 8em 0;
    background-color: rgb(15, 146, 221);
   /*background-image: url("../images/home.jpg") ;*/
    color: #fff;
    margin-bottom: 40px;
}
.home .name {
    font-size: 34px;
    margin-bottom: 1em;
}
.home .job {
    font-size: 5em;
    margin-bottom: 2.3em;
    text-decoration: underline ;
}
.home .logo_home i {
    font-size: 104px;
    /*background-color: #fff;*/
    color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
}
.home .logo_home i:hover {
    background-color: #fff;
    color:rgb(15, 146, 221) ;
    transform: scale(1.3);
}
/***********************************************************************************************/
.competence {
    flex-direction: column;
    
}
.competence .titre_competence {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    
}
.competence .box_competence {
    display: flex;
    justify-content: space-around;
    /*column-gap: 40px;*/
}
.competence .box_competence .sous_titre {
    font-size: 25px;
}